<html>
<head>
    <title>Página bacana!</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <div class="w3-container">
        <div class="w3-card w3-padding">
            <h1>Lista de tarefas</h1>
            <hr>
            <p>Criar uma lista de <i>tarefas</i></p>
        </div>
    </div>
</body>
</html>