<html>
<head>
    <title>Tarefa específica</title>
    <link rel="stylesheet" href="{{ css }}">
</head>
<body>
    <div class="w3-container">
        <div class="w3-card w3-padding">
            <h1>Tarefa:</h1>
            <hr>
            <p>
                {{ mensagem }}
            </p>
        </div>
    </div>
</body>
</html>