<html>
<head>
    <title>Página bacana!</title>
    <link rel="stylesheet" href="{{ css }}">
</head>
<body>
    <div class="w3-container">
        <div class="w3-card w3-padding">
            <h1>Lista de tarefas</h1>
            <hr>
            {{#tarefas}}
                <li><b>{{ id }}</b> - {{ descricao }}</li>
            {{/tarefas}}
        </div>
    </div>
</body>
</html>